/**********************
MISE EN FORME GeNéRALE
**********************/

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.5;
    color: black;
    background-color: white;
}

a, h2{
    color: #4caf50;
    text-decoration: none;
}

h1{
    color: #388e3c;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a:hover {
    color: #cddc39;
}

/**********************
HEADER
**********************/

header{
    padding-top: 20px;
    background-color: #4caf50;
    border-top: #388e3c solid 20px;
}

header div{
    text-align: center;
}

header h1{
    display: none;
}

header nav{
    margin: auto;
    text-align: center;
    padding: 10px 0;
}

header li{
    list-style-type: none;
}

header ul{
    padding: 0;
}

header ul a{
    color: white;
    padding: 10px;
    font-weight: 800;
    width: 100%;
    text-align: center;
}

.page-actuel a{
    color: #cddc39;
}

header a:active{
    color: #cddc39;
}

/**********************
MAIN
**********************/

main{
    padding: 20px;
}

td, th{
    padding: 4px 6px;
    text-align: left;
    border: #c8e6c9 solid 1px;
}

thead, tfoot{
    background-color: #c8e6c9;
}

figure{
    background-color: #c8e6c9;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

figcaption{
    padding: 10px 0 5px;
    color: white;
    font-size: 90%;
}

th{
    padding-bottom: 5px;
    font-size: 80%;
}

.cellule-prix{
    text-align: right;
}

tfoot{
    text-align: right;
}

figure img{
    width: 100%;
}

main ul li{
    list-style-type: none;
    background-image: url("../img/balle-golf.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 25px;
}

/**********************
FOOTER
**********************/

footer{
    height: 120px;
    color: #727272;
    text-align: center;
    padding: 20px 20px 60px;
    margin-top: 30px;
    background-image: url("../img/paysage-practice-golf-club-bassecourt.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

/**********************
RESPONSIVE
**********************/

@media screen and (min-width: 660px){

    header div{
        display: inline-block;
        text-align: left;
        width: 20%;
        margin-left: 5%;
    }

    header nav{
        float: right;
        display: inline-block;
        width: 75%;
        text-align: right;
    }

    header li{
        display: inline-block;
    }

    .pres-club{
        vertical-align: top;
        display: inline-block;
        width: 55%;
        margin-right: 5%;
    }

    figure{
        display: inline-block;
        width: 40%;
    }

}